<!DOCTYPE HTML>
<html ng-app="tourPlanner">
  <head>
    <link rel="stylesheet" type="text/css" href="/static/assets/stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/assets/stylesheets/application.css">

    <script type="text/javascript" src="/static/assets/bower/jquery/jquery.js"></script>
    <script type="text/javascript" src="/static/assets/bower/angular/angular.js"></script>
    <script type="text/javascript" src="/static/assets/javascripts/tourPlanner.js"></script>
    <script type="text/javascript" src="/static/assets/javascripts/providers/embedded_data.js"></script>
    <script type="text/javascript" src="/static/assets/javascripts/providers/google_maps.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAb2SNcoUwumA8tKyOd6dFInnuelCDUvYM&sensor=false"></script>

    <title><%= content_for(:title) || @title || "Tour Planner" %></title>
  </head>
  <body>
    <!-- nav -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Tour Planner</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/routes">Routes</a></li>
            <li><a href="/resources">Resources</a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- content -->
    <div class="container">
      <%= content_for(:template) %>
    </div>

    <div>
    <%= content_for(:scripts) %>
    </div>
  </body>
</html>
