<!DOCTYPE HTML>
<html>
<head>
  <script src="/static/assets/javascripts/bower/angular/angular.js"></script>
  <title><%= content_for(:title) || "Title" %></title>
</head>
<body><%= content_for(:template) %></body>
</html>
