<h1>Routes</h1>
<div ng-controller="RoutesIndexCtrl">
  <ul>
    <li ng-repeat="route in routes">
      <a href="/routes/{{route.id}}">{{route.start}} to {{route.finish}}</a>
    </li>
  </ul>
</div>

<a href="/routes/new">New Route</a>

<% content_for :scripts do %>
  <script src="/static/assets/javascripts/controllers/routes_index.js"></script>
<% end %>
