<h1>Route: </h1>
<div ng-controller="RoutesShowCtrl">
  <ul>
    <li ng-repeat="step in steps">
      {{step.instructions}}
    </li>
  </ul>
</div>

<% content_for :scripts do %>
  <script src="/static/assets/javascripts/routes_show.js"></script>
<% end %>
