// Truncate mixin
// Part of https://github.com/dmtintner/UtilityBelt

@mixin truncateText($overflow: ellipsis){
  overflow: hidden;
  white-space: nowrap;
  text-overflow: $overflow; // values are: clip, ellipsis, or a string
}