// ----------------------------------------------------------------------------
// PATHS
// ----------------------------------------------------------------------------

$root-assets: "/assets" !default; // Need to set
$font-path: "#{root-assets}/fonts" !default;
$image-path: "#{root-assets}/images" !default;